body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 0px;
  /* text-transform: uppercase; */
  /* text-decoration: underline; */
}
/* Margin collapsing: maximum margin between 2 elements, not the sum */

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.menu {
  height: inherit;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header ul {
  display: flex;
  height: inherit;
}

.header ul li {
  height: inherit;
}

figure {
  margin: 0;
}

.hero {
  height: 300px;
  background-color: #1b2127;
  background-image: url('../images/hero.jpg');
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: center;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  /* when there is no border color specified, it will take the color
  of the current text */
  /* margin: 10px; */
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  /* The following (box-sizing) will make this element to have an exact width and height (including padding and border) */
  /* box-sizing: border-box; */
  /* width: 500px; */
  /* height: 500px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-details {
  width: 500px;
  display: inline-block;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

/* .project-date {
  margin: 10px 0;
} */

.project-imageContainer {
  width: 500px;
  display: inline-block;
}

/* Displays
none > won't show
block > elements will tend to occupy all width available
inline > content will tend to be displayed next to each other, 
but keep in mind that the elements will occupy the width they need 
and will bypass any width property set
inline-block > respects width
flex > 
*/

/* When we use flexbox there is no margin collapsing */
.flexbox {
  display: flex;
  /* affects **immediate** children, not children of children ^ */
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 300px;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  /* caution
  flex-direction to row will center horizontally with justify-content
  flex-direction to row will center vertically with align-items
  flex-direction to column will center horizontally with align-items
  flex-direction to column will center vertically with justify-content
  */
}

.box {
  width: 50px;
  height: 50px;
  margin: 1.5px;
  border: 1px solid red;
  flex-shrink: 0;
}

.event-list-title {
  margin-left: 20px;
}

.event-list {
  display: flex;
}

.event {
  /* border: 1px solid red; */
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #f4fbff;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 20px;
  text-decoration: none;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-email input {
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}
.social {
  /* border: 1px solid red; */
}

.social-link {
  display: inline-block;
  /* Without this ^, the size is not respected cause a tags have 
  a default display inline */
  width: 50px;
  height: 50px;
  /* border: 1px solid white; */
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}

.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}